# Database 
DB_PORT=5432
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=<your_pg_password>
DB_NAME=alsense_db

# JWT
ACCESS_TOKEN_SECRET_KEY=7f3a9c2e8b1d6a4f0c9e5b7a2d8f1c6e4a9b3d7f5c2e8a1
REFRESH_TOKEN_SECRET_KEY=7f3a9c2e8b1d6a4f0c9e5b7a2d8f1c6e4a9b3d7f5c2e8a1